<div class="container2">
    <!-- <p>chat works!</p> -->
    <img src="assets/img/Back4.jpg" alt="" class="background">
    
    <!-- <div class="background"></div> -->
    <!-- <div class="menu">
        <p *ngIf="!( chat$ | async)">Join</p>
        <p *ngIf=" ( chat$ | async)">Leave</p>
        <p (click)="logout()">Logout</p>
    </div> -->
    <!-- <div class="chat" *ngIf="chatStatus == 'avaible'"> -->
    <div class="chat">
    
        <div class="header">
            <div class="imgUser">
                <!-- <img [src]="user2.userImg" alt="Avatar" *ngIf="user2 != mock.user2"/> -->
            </div>
            <p class="username">{{ user2?.username }}</p>
            <span class="status {{user2Status}}"></span>
            <!-- <div class="options"></div> -->
        </div>

        <div class="messages">
            <!-- <div *ngFor="let message of chat.messages"> -->
            <div *ngFor="let message of (chat$ | async)?.messages">
                <div *ngIf="message.sender == user1.id; else otherUserMessage">
                    <div class="containerMess">
                        <!-- Contenedor de mensaje enviado -->
                        <div class="message-sent">
                            <img class="message-image" src="path-to-user1-image" alt="user1" />
                            <p>{{ message.text }}</p>
                        </div>
                    </div>
                </div>

                <ng-template #otherUserMessage>
                    <div class="containerMess">
                        <!-- Contenedor de mensaje recibido -->
                        <div class="message-received" >
                            <img class="message-image" src="path-to-user2-image" alt="user2" />
                            <p>{{ message.text }}</p>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="fade bottom"></div>
        <div class="fade top"></div>
        <div class="writeZone">
            <div class="pad">
                <!-- <input type="text" [value]="currentMess" placeholder="Message"> -->
                <textarea class="write" [(ngModel)]="currentMess" placeholder="Write a message" (keyup.enter)="sendMess()"></textarea>
            </div>
            <div class="send" (click)="sendMess()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M22 2L11 13"></path>
                    <path d="M22 2L15 22L11 13L2 9L22 2Z"></path>
                </svg>

            </div>
            <!-- <div class="send" (click)="ex()">></div> -->
        </div>
    </div>

    <div class="menu-container">
        <!-- <button class="menu-toggle" (click)="toggleMenu()" *ngIf="chatStatus == 'avaible'"> -->
        <button class="menu-toggle" (click)="toggleMenu()">
            <svg *ngIf="!menuOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5M3.75 15h16.5" />
            </svg>
            <svg *ngIf="menuOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    
        <div class="sidebar" [class.open]="menuOpen">
            <ul>
                <li (click)="joinOrCreateChat()"><p *ngIf="!( chat$ | async)">Join</p></li>
                <li (click)="leaveChat()"><p *ngIf=" ( chat$ | async)">Leave</p></li>
                <li><p (click)="logout()">Logout</p></li>
                <li class="bottomPos"><p>Contact</p></li>
                <li><p (click)="toggleSelectMenu()">Languages</p></li>
                <li>
                    <div class="langSubcontainer" [class.open]="langSelectOpen">
                        <app-lang-select></app-lang-select>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>