.container2 {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;

    /* opacity: .8; */

    /* background-image: url('../../assets/img/Back1.jpg');
    background-position: center;
    background-repeat: no-repeat; */
}

/* :host {
  display: block;
} */

.menu-container {
    position: relative;
    background-color: #007bff;
}

.menu-toggle {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    /* background-color: white; */
    /* border: none; */
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.375rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--detail);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid var(--detail);
    box-shadow: 0 8px 32px var(--shadow);
}

.menu-toggle .icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--prm-text);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15rem;
    /* background-color: #f1f1f1; */
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: var(--shadow);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid var(--detail);
    box-shadow: 0 8px 32px var(--shadow);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar ul {
    position: absolute;
    top: 5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 1rem 0;
}

.sidebar p {
    text-decoration: none;
    color: var(--prm-text);
    font-size: 1.1rem;
    cursor: pointer;
}

.sidebar a:hover {
    color: #007bff;
}

.langSubcontainer {
    position: relative;
    width: 15rem;
    left: 0;
    top: 0;
    /* box-sizing: border-box; */

    transform: translateX(-120%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;

}

.langSubcontainer.open {
    transform: translateX(0);
}

.chat {
    position: relative;
    width: 30rem;
    height: 85vh;

    background: var(--prm-back);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid var(--detail);
    box-shadow: 0 8px 32px var(--shadow);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--prm-text);
    font-family: var(--prm-font);

    /* border: solid 2px blue; */
}


.header {
    background: var(--sec-back);
    /* padding: 10px 10px; */
    position: relative;
    display: flex;
    width: 100%;
    height: 4rem;
    top: 0;
    /* border: solid black 1px; */
    align-items: center;
    border-bottom: 1px solid var(--detail);


}

.username {
    position: relative;
    left: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.imgUser {
    background-color: var(--detail);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    left: .5rem;
    position: absolute;
}

.status {
    position: absolute;
    right: 1.5rem;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
}

.true {
    background-color: var(--prm);
}

.false {
    background-color: rgb(241, 51, 51);
}

.options {
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: .5rem;
    border-radius: 4px;
    background-color: var(--detail);
    opacity: .5;
}

.messages {
    position: relative;
    width: 100%;
    height: calc(100% - 11.5rem);
    padding: 1rem 0;
    overflow-y: auto;
    /* Para permitir desplazamiento si hay muchos mensajes */
    overflow-x: hidden;
}

.containerMess {
    display: flex;
    width: 100%;
    /* El contenedor ocupa el 100% del ancho */
    justify-content: flex-start;
    /* Los elementos dentro de containerMess se alinearán por defecto a la izquierda */
    margin-top: 0.5rem;
}

.message-sent,
.message-received {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    /* border-radius: 1rem; */
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    min-height: 2rem;
    padding: 0.5rem;
    box-sizing: border-box;
    /* Para asegurar que el padding no afecte el ancho */
    /* max-width: 70%; */
    /* min-width: 30%; */
    width: 100%;
    position: relative;
}

.message-sent {
    justify-content: flex-end;
    /* Alinea el mensaje a la derecha dentro de containerMess */
    padding-right: 1.5rem;
    /* Espacio entre el borde y el mensaje */
    /* margin-left: 2rem; */
    /* Deja 2rem de espacio al borde izquierdo */
}

.message-received {
    justify-content: flex-start;
    /* Alinea el mensaje a la izquierda dentro de containerMess */
    padding-left: 1.5rem;
    /* Espacio entre el borde y el mensaje */
    /* margin-right: 2rem; */
    /* Deja 2rem de espacio al borde derecho */

}

.message-image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.75rem;
    position: absolute;
    display: none;
    /* Espacio entre la imagen y el texto */
}

.containerMess div p {
    border-radius: 1.2rem;
    min-width: 30%;
    max-width: 70%;
    margin: 0;
    font-size: 14px;
    /* border: 1px solid rgb(90, 80, 201); */
    padding: .5rem;
    /* Elimina los márgenes por defecto del <p> */
}

.message-received p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.8);
    color: var(--sec-text);
}

.message-sent p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    background: var(--prm);
    color: var(--prm-text);
}

.fade {
    width: 100%;
    height: 2rem;
    position: absolute;
    background-size: cover;

}

.top {
    top: calc(4rem + 1px);
    background: linear-gradient(to bottom, var(--shadow), #ffffff00);
}


.bottom {
    bottom: 5rem;
    background: linear-gradient(to bottom, #ffffff00, #ffffff00, var(--shadow));
}


.writeZone {
    position: absolute;
    width: 100%;
    height: 5rem;
    bottom: 0;
    /* border: solid black 1px; */
    display: flex;
    align-items: center;
}

.pad {
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(100% - 3.5rem);
    height: 4rem;
    /* border-radius: .5rem; */
    /* background-color: rgb(211, 211, 211); */
    left: .5rem;
}

.write {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: .5rem;
    /* background-color: transparent; */
    /* border: none; */
    outline: none;
    resize: none;

    flex: 1;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--detail);
    border-radius: 20px;
    padding: 10px 15px;
    color: var(--prm-text);
    font-size: 14px;
    font-family: var(--prm-font);
}

.send {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: .5rem;
    background-color: var(--prm);
    color: var(--prm-text);
    width: 2rem;
    height: 3rem;
    border-radius: .5rem;

    cursor: pointer;
    box-shadow: 0 4px 10px rgba(52, 232, 158, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

}

.send:hover {
    background-color: var(--sec);
    box-shadow: 0 6px 15px rgba(52, 232, 158, 0.6);
}

.send svg {
    width: 20px;
    height: 20px;
    stroke: #ffffff;
}